* {
    background-color: rgb(215,241,242);
}

.characterimages {
    display: flex;
    margin: 50px 10px 10px 50px;
    justify-content: center;
}
.character {
    margin: 0px 10px 10px 0px;
}
.character:hover {
    box-shadow: 0px 0px 30px 10px grey;
}

#battleScreen {
    display: none;
}
.battleCharacters {
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterAbilities{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
li {
    margin: 5px 2px 0px 2px;
}
li:hover{
    box-shadow: 0px 0px 10px 5px grey;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.endButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.character{
    border-radius: 25%;
}

.playerTracker0, .playerTracker1 {
    display: none;
    font-size: 22px;
    font-weight: bold;
    color: grey;
    margin: 14px 14px 10px 14px;

}
.vicmessage {
    display: none;
    margin: 12% 5px 0px 5px;
}
.active {
    display: block;
}

#log {
    border: 2px solid grey;

}

