* {
    background-color: rgb(230,241,242);
}
.characterimages {
    display: flex;
    margin: 50px 10px 10px 50px;
    justify-content: center;
}
.character {
    margin: 0px 10px 10px 0px;
}

#battleScreen {
    display: none;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.character{
    border-radius: 25%;
}

.playerTracker0, .playerTracker1 {
    display: none;
    font-size: 22px;
    font-weight: bold;
    color: grey;
    margin: 14px 14px 10px 14px;

}
.active {
    display: block;
}

#log {
    border: 2px solid grey;
}